<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Not_Kayit_Sistemi.Properties.Settings.db_NotKayitConnectionString"
            connectionString="Data Source=BOOK-4G7189N2AI\SQLEXPRESS;Initial Catalog=db_NotKayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>